{% assign lg = page.lang | default: site.lang %}
{% assign t = site.data.i18n[lg].home %}

<section class="container section newsletter-card no-print">
  <h3 class="caps-label" style="margin-top:0">{{ t.subs_title }}</h3>
  <p class="lead" style="max-width:none">{{ t.subs_blurb }}</p>

  {% assign src = site.substack_embed_url %}
  {% unless src %}
    {% assign src = "https://REPLACE.substack.com/embed" %}
  {% endunless %}
  {% if src contains 'REPLACE' %}
    <p class="caps-label" style="opacity:.74">{{ t.substack_replace_hint }}</p>
  {% endif %}
  <div class="embed-substack">
    <iframe src="{{ src }}" scrolling="no" title="{{ t.newsletter_iframe_title }}"></iframe>
  </div>
</section>
